body{
    font-family: Lexend;
    margin: 0;
    padding: 0;
    background: white;
    height: 100vh;
}
.hero-section {
    display: flex;
    padding-left: 120px;
    width: 100%;
    height: 720px;
}
.content-side{
    display: flex;
    flex-direction: column;
    width: 33%;
    gap: 32px;
    z-index: 5;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    width: 1200px;
    padding-top: 40px;
    z-index: 10;
}
.nav-buttons{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    margin-left: 580px;
}
.btn{
    border: 1px solid #FFFFFF4D;
    border-radius: 32px;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
    cursor: pointer;
    background: rgb(255, 255, 255,0.1);
}
.big-btn{
    display: flex;
    border: 1px solid #FFFFFF4D;
    border-radius: 32px;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: rgba(255,255,255,0.1);
}
.big-btn img{
    padding-left: 10px;
}
.btn p, .big-btn p{
    color: white;
    display: flex;
    align-items: center;
    margin: 0;
}

.sign{
    background-color: #D1FAE5;
    gap: 10px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 32px;
    margin-left: 30px;
}
.sign p{
    color: #047857;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin:0;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo{
    padding-left: 10px;
    color: #1B1C57;
    font-weight: 700;
    text-align: center;
}
.title-container{
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 500px;
    height: 500px;
    padding-top: 32px;
}
h1{
    font-size:40px;
    color: #1B1C57;
    width: 450px;
}
.title p{
    color: #626687;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    width: 510px;
}
.dreams{
    color:white;
    text-shadow:
    -1px -1px 0 #1B1C57,  
    1px -1px 0 #1B1C57,
    -1px 1px 0 #1B1C57,
    1px 1px 0 #1B1C57;
}
.title{
    width: 500px;
    height: 230px;
    gap:16px;
}
.search {
    margin-top: 38px;
    display: flex;
    align-items: center;
    padding: 4px;
    width: 100%;
    height: 45px;
    border-radius: 32px;
    border: 1px solid #E0E3EB;
}
.search-input{
    padding-left: 16px;
    width: 65%;
    border: 0px;
    font-size: 14px;
    font-family: Lexend, sans-serif;
    font-weight: 400;
    color: #6B7280;
    background: white;
    outline: none;
}
.search-input::placeholder{
    color:#888B97;
}
.search-button{
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background-color: #10B981;
    border-radius: 32px;
    font-family: Lexend;
    font-weight: 400;
    font-size: 16px;
    color: white;
    border: none;
}
.search img {
    padding-left: 20px;
}
.partership p{
    color:#888B97;
    font-weight: 300;
    line-height: 32px;
}
.frame{
    display: flex;
    flex-direction: row;
    gap:38px;
    width: 427px;
}
.images{
    width: 720px;
    height: 720px;
    background-image: url("/image/main.jpg");
}
.vector{
    margin-left:82px;
    margin-top:133px;
    height: 342px;
    width: 521px;
}
.top-right{
    position: relative;
    top: 75px;
    left:395px
}
.bottom-right{
    position: relative;
    top:253px;
    left: 355.5px;
}
.door{
    position: relative;
    top:135px;
}
.max{
    left:-13px;
}
.min{
    left: -7px;
}